.titulo{
    text-align: center;
    width: center;
    font-weight: bold;
}

.desc-2{
    background-color: gainsboro;
    border-radius: 4px;
    text-align: center;
    margin: 10px;
    height: 450px;
    font-size: 110%;
}

.desc-1{
    text-align: center;
    font-size: 110%;
}

.desc-3{
    text-align: center;
    font-size: 110%;
}

.contato{
    text-align: right;
}